/***********************************************
GENERAL
************************************************/

* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

/***********************************************
HEADER
************************************************/

h1 {
  font-size: 1.75em;
  color: white;
  background-color: #363636;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h2 {
  font-size: 1.5em;
  color: #363636;
  text-align: center;
  margin-top: 40px;
}

h3 {
  color: #888888;
  margin-top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.5em;
}

.latest-news {
  font-size: 1.25em;
  color: #b8b8b8;
  text-align: center;
  padding: 0 10px;
}

.top {
  height: 6px;
  background: #363636;
  margin: 40px 10px 0;
}

.bottom {
  height: 3px;
  background: #363636;
  margin: 3px 10px 30px;
}

/***********************************************
FORM: GENERAL
************************************************/

fieldset {
  border: none;
}

legend {
  display: block;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: #363636;
  margin-bottom: 30px;
}

label {
  margin-bottom: 10px;
  color: #888888;
  font-size: 1.2em;
}

/***********************************************
FORM: CONTACT INFORMATION
************************************************/

#contact label,
#contact input,
#contact select {
  display: block;
}

#contact input,
#contact select {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border-style: none;
  background-color: #e8e8e8;
  font-size: 1.2em;
  color: #888888;
  padding: 15px 20px;
  margin-bottom: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b8b8b8;
  text-align: end;
  font-style: italic;
  font-size: 0.75em;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #b8b8b8;
  text-align: end;
  font-style: italic;
  font-size: 0.75em;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #b8b8b8;
  text-align: end;
  font-style: italic;
  font-size: 0.75em;
}

:-moz-placeholder { /* Firefox 18- */
  color: #b8b8b8;
  text-align: end;
  font-style: italic;
  font-size: 0.75em;
}

#zip {
  max-width: 150px;
}

/***********************************************
FORM: NEWSLETTER, BUTTON, AND FOOTER
************************************************/

.format {
  margin-top: 30px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 15px 10px 15px 0;
  vertical-align: middle;
}

#newsletter label {
  vertical-align: middle;
}

label[for="other"] {
  margin-top: 100px;
}

#other {
  margin-top: 20px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-style: none;
  background-color: #e8e8e8;
  font-size: 1.2em;
  color: #888888;
  padding: 15px 20px;
  margin-bottom: 30px;
}

#sign-up {
  width: 100%;
  font-size: 1.7em;
  color: white;
  background-color: teal;
  border-style: none;
  border-radius: 5px;
  padding: 20px 0;
}

.button-wrap {
  margin: 0 2px;
  padding: 0 .75em;
}

footer {
  margin: 40px auto 150px;
  color: #888888;
  text-align: center;
  font-style: italic;
}

/***********************************************
MEDIA QUERIES FOR DESKTOP
************************************************/
